<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647439214417-kt0vi42r7i7nqjan317m84seaea247j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647439214417-kt0vi42r7i7nqjan317m84seaea247j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCCpMxZCuyX02SFNm4VlstE4t1AS5UJl2g</string>
	<key>GCM_SENDER_ID</key>
	<string>647439214417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productManagement</string>
	<key>PROJECT_ID</key>
	<string>fir-login-6f8b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-6f8b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647439214417:ios:936b2addf05c005c861570</string>
	<key>DATABASE_URL</key>
	<string>https://fir-login-6f8b8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>